* {
    margin: 0;
    padding: 0;
}

.App {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.response {
    text-transform: uppercase;
}